/*Meu CSS*/
body {
background: white;
max-width: 900px;
margin: auto;
}

#title, .subtitle, .post_title {
	color: black;
	font-family: tahoma;
}

#title {
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 25px;
}

a:link {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.post_title {
	font-size: 15px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;	
}	

.post {
	background: gray;
	padding: 15px;
	border: 3px solid black;
	margin-bottom: 15px;
	border-radius: 10px;
	font-family: arial;
	font-size: 13px;
	text-align: justify;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
}

.post_img {
	margin-bottom: 15px;
}

.photo {
	border-radius: 70px;
	border: 3px solid black;
}

ul {
	list-style-type: square;
	font-family: tahoma;
	font-size: 10px;
	color: gray;
	padding: 0px;
	padding-left: 20px;
}